.makesticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}
img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: bottom;
}
@media screen and (max-width: 800px) {
  .myclass {
    font-size: x-small;
    width: 100%;
  }
}
